.active-order-item{
    border-radius: 10px;
    border: 3px solid var(--bs-dark);
    padding: 10px;
    box-shadow: 0 7px 20px 1px rgb(230, 230, 230);
}
.active-order-item li{
    font-size: 16px;
}
.active-order-item span{
    font-size: 18px;
}