/*.card-content-grid{
    display: grid;
    grid-template-columns: 0.35fr 2fr 1fr;

}
.card-content-grid>div{
    padding: 10px;
    border: 1px solid rgba(204, 204, 204 , 0.4);
}

.card-content-grid div:nth-child(2)
{
    border-left: none;
    border-right: 0;
}*/