.user-profile-parent{
    min-height: 100vh;
    background-color: rgb(238, 237, 237);
}
.user-profile-parent .hero-section{
    width: 100%;
    height: 300px;
    padding: 30px;
    background-color: var(--bs-dark);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: 0 0 20px 1px rgb(39, 39, 39);
}

.user-profile-parent h6{
    color: white;
    font-size: 30px;
}

.user-details{

    padding:  40px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 30px;
    background-color: rgb(238, 237, 237);
}

.user-details h6{
    font-size: 20px;
    color: var(--bs-blue);
    margin-bottom: 50px;
    position: relative;
}
.user-details h4{
    display: inline-block;
    font-size: 28px;
    color: var(--bs-blue);
    margin-bottom: 50px;
    position: relative;
}
.user-details h4::after{
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--bs-blue);
}
.user-details h6::after{
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--bs-blue);
}
.user-details p{
    font-size: 18px;
    color: #212529;

}
.user-details .personal-details {

    border-radius: 6px;
    padding: 30px;
    background-color: var(--bs-white);
}

.user-details .order-details {

    border-radius: 6px;
    padding: 30px;
    background-color: var(--bs-white);
}

.order-details-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}