:root{
    --product-grid: 2fr 1fr 2fr 1fr 1fr 1fr
}
.table-parent h2{
    margin: 20px 0;
    padding: 5px 10px;
    position: relative;
    color: white;
}
.table-parent h2::before{
    border-radius: 5px;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: var(--bs-blue) ;
    z-index: -100;
}
.table-parent h2::after{
    position: absolute;
    content: '';
    left: 40%;
    transform: translateX(-50%);
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid white;
    background-color: transparent ;
}
.table-heading{
    position: relative;
}
.table-heading .filter-box{
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.table-heading .filter-box{
    padding: 5px 10px;
    border: 2px solid var(--bs-blue);
    border-radius: 3px;
}
.table-heading .filter-box option{
    font-size: 16px;
}
.table-inner{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
}
.table-inner-prod .table-inner-prod-headings{
    grid-template-columns: var(--product-grid);
}
.table-inner-prod .prod-table-row{
    grid-template-columns: var(--product-grid) ;
}
.prod-table-row > button {
    justify-self: center;
}
.table-row:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.05);
}
.table-inner-headings{
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,2fr) 1fr;
}

.table-row{
    padding: 16px 10px;
    display: grid;
    grid-template-columns: repeat(3,2fr) 0.5fr 0.5fr;
    align-items: center;
    gap: 20px;
}
.table-row :last-child button{
    justify-self: stretch;
    width: 100%;
}
.table-inner .table-row p{
    margin: 0;
}
.table-inner .table-row ul{
    padding-left: 0;
}
.table-inner .table-row ul li{
    letter-spacing: 1px;
}
.order-table-inner button{
    padding: 10px 8px;
}

@media ( max-width : 576px ) { 

    :root {
        --product-grid: 1fr 3fr  ;
    }
    .table-parent h2::before{
        border-radius: 5px;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 55%;
        height: 100%;
        background-color: var(--bs-blue) ;
        z-index: -100;
    }
    .table-parent h2::after{
        display: none;
    }
    .table-row{
        grid-template-columns: 1fr 3fr;
    }
    .table-inner-prod .table-inner-prod-headings {
        grid-template-columns: 1fr 1fr ;
    }
    .table-inner-prod .table-inner-prod-headings span:nth-child()

    .table-inner-prod .prod-table-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .table-inner-headings{
        grid-template-columns: 1fr 1fr;
    }
    .user-table-component {
        display: none;
    }
    
}

